body {
    background-color: #afbaee;
    margin: 0;
    background-image: url('orange.png');
    background-repeat: no-repeat;
    background-size: 10.5rem;
}

header {
    background: linear-gradient(
        to right, 
        rgba(175, 186, 238, 0), rgba(221, 179, 40, 1));
    width: 100%;
    color: rgb(37, 90, 164);
    margin: 0;
}

#nameOfPage {
    font-family: Monaco;
    font-weight: bold;
    font-size: 5rem;
    width: 36rem;
    margin: 2rem 0 0 3rem;
    text-align: right;
}

#subtitle {
    font-family: 'Times New Roman';
    font-weight: normal;
    font-size: 1.2rem;
    text-align: right;
    padding: 0;
    margin: 0 .5rem 1rem 0;
}
#soundbar{
    text-align: center;
}

#playAudio {
    width: 40rem;
}

.nowPlaying {
    font-family: Monaco;
    color: rgb(37, 90, 164);
    margin: 0;
    color:rgb(184, 120, 1);
}

#searchForm {
    text-align: center;
    padding: 2rem;
}

#label {
    font-family: Monaco;
    color: rgb(37, 90, 164);
}

#userEntry {
    width: 15rem;
    background-color:rgb(242, 223, 188);
}

.MainPage {
    display: flex;
    flex-wrap: wrap;
}

.error {
    font-family: Monaco;
    font-weight:bolder;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    color: rgb(184, 120, 1);
}

.results {
    width: 15rem;
    margin: 0 0 1rem 0;
    text-align: center;
}

.pics {
    border-radius: 5%;
    height: 12rem;
    width: 12rem;
}

.songs {
    font-family: 'Arial';
    font-size: 1.4rem;
    color: rgb(184, 120, 1);
    margin: 0;
}

.artists {
    font-size: 1.3rem;
    margin: 0;
}

.albums {
    margin: 0;
    font-size: .9rem;
    font-style: italic;
}

.dates {
    margin: 0;
    font-size: .8rem;
}