body {
    background-color: #afbaee;
    margin: 0;
    background-image: url('orange.png');
    background-repeat: no-repeat;
    background-size: 10.5rem;
}

header {
    background: linear-gradient(
        to right, 
        rgba(175, 186, 238, 0), rgba(221, 179, 40, 1));
    width: 100%;
    color: rgb(37, 90, 164);
    margin: 0;
}

#nameOfPage {
    font-family: monaco;
    font-weight: bold;
    font-size: 5rem;
    width: 36.2rem;
    margin: 2rem 0 0 2rem;
}

#subtitle {
    font-family: 'Times New Roman';
    font-weight: normal;
    font-size: 1.2rem;
    text-align: right;
    padding: 0;
    margin: 0 .5rem 1rem 0;
}
#soundbar{
    /* float: right; */
}

#searchBox {
    text-align: center;
    /* justify-content: right; */
    /* float: right; */
}

.MainPage {
    display: flex;
    flex-wrap: wrap;
}

.results {
    width: 15rem;
    margin: 0 0 1rem 0;
    text-align: center;
}

.pics {
    border-radius: 5%;
    height: 12rem;
    width: 12rem;
}

.songs {
    font-family: 'Arial';
    font-size: 1.4rem;
    color: rgb(184, 120, 1);
    margin: 0;
}

.artists {
    font-size: 1.3rem;
    margin: 0;
}

.albums {
    margin: 0;
    font-size: .9rem;
    font-style: italic;
}

.dates {
    margin: 0;
    font-size: .8rem;
}